body {
  font-family: Arial, Helvetica, sans-serif;
}

#comparison-table table {
  width: 100%;
  border-collapse: collapse;
}

#comparison-table th,
#comparison-table td {
  border: 1px solid #ddd;
  padding: 8px;
  p {
    margin: 0;
  }
  small {
    display: block;
    font-size: 12px;
  }
}

#comparison-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#comparison-table tr:hover {
  background-color: #ddd;
}

#comparison-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}

#comparison-table .failing {
  color: red;
}

form#controls-form {
  display: flex;
  gap: 30px;
}
